/* Grid.css */

.grid-container {
    width: 100%;
    /* 100% of the viewport width */
    height: 100%;
    /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    /* Horizontally center the grid */
    align-items: center;
    /* Vertically center the grid */
}

.maze {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maze-row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: .0025px solid rgb(95, 93, 93);
    margin: .0005px;
}

.cell-0 {
    background-color: white;
}

.cell-1 {
    background-color: rgb(187, 202, 187);
}

.cell-2 {
    background-color: rgb(250, 201, 201);
}

.cell-3 {
    background-color: rgba(110, 110, 113, 0.371);
}

.cell-4 {
    background-color: rgb(255, 157, 157);
}